@import url('https://fonts.googleapis.com/css?family=Raleway');

$redish: #CF000F;
$rose: #E74C3C;
$main-font: 'Raleway', sans-serif;

* {
	font-family: $main-font;
}

a,
a:hover,
a:focus,
a:active,
a.active{
	color: #000;
	text-decoration: none;
}

.navbar-brand {
	font-size: 1.3rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.user a {
    color: #636b6f;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

#chatTag {
	position: absolute;
	right: 18px;
	top: 4px;
}

#nav-chat {
	position: relative;
    padding: 10px 30px;
}

#nav-chat a {
    padding: 0;
}

#userDropdownBtn {
	padding: 5px 14px;
	display: flex;
	align-items: center;
}

.user {
	display: flex;
	align-items: center;
}

.user-img-container .fa {
	font-size: 28px;
	margin-bottom: 0;
	padding-top: 2px;
}

.user-img {
	width: 38px;
	height: 38px;
	border-radius: 2px;
}

.user-img-preview {
	@extend .user-img;
	overflow: hidden;
}

.username {
	margin: 0;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 1.1rem;
}

.container {
	padding-top: 1.5rem;
}

.main-tables th,
.main-tables td {
	text-align: center;
	width: 16.67%;
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}

.red {
	background-color: $redish !important;
	opacity: 1 !important;
}

.rose {
	background-color: $rose;
	opacity: 0.3;
}

.names {
	font-weight: 400;
	font-size: 1rem;
}

.dropzone {
	margin-top: 2.5rem;
}

.names img {
	height: 2.8rem;
	margin-right: 1rem;
}

.names .fa {
	font-size: 2.8rem;
	margin-right: 1rem;
	height: 2.8rem;
	width: 2.8rem;
	text-align: center;
	vertical-align: middle;
}

.names .undone {
	opacity: 0.6;
}

.names .list-group-item {
	font-size: 18px;
	text-align: left;
}

#profilePictureForm {
	text-align: center;
	margin: 20px 0px;
}

#profilePictureForm label {
	text-align: right;
	padding: 10px;
}

#profilePictureForm label:hover {
	text-align: right;
	cursor: pointer;
}

#profilePictureTemp {
	display: none;
}

#image {
	max-width: 100%;
	max-height: 100%;
	height: 350px;
}

.cropper-container {
	width: 100% !important; // else it is getting over window width
}

.btn-crop-area {
	margin-top: 20px;
}

#btn-crop {
	display: inline-block;
}

.dates {
	font-weight: 100;
}

.crop-alert {
	display: inline-block;
	position: absolute;
	margin-left: 1rem;
	padding: 7px 10px;
	opacity: 0;
}

#left-section .card {
	display: none;
}

#title-input {
	padding: 3px 7px;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin-bottom: 10px;
}

#datepicker {
	padding: 3px 7px;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin-bottom: 10px;
}

#btn-send-date {
	padding: 5px 15px;
	margin: 0;
	margin-top: 10px;
}

#all-users-dropdown {
	display: inline-block;
}

.all-users-list {
	width: 250px;
	max-height: 300px;
	overflow: auto;
}

.all-users-list li:hover {
	cursor: pointer;
}

.all-users-list img {
	height: 2.8rem;
	margin-right: 1rem;
}

.all-users-list .fa {
	font-size: 2.8rem;
	margin-right: 1rem;
	height: 2.8rem;
	width: 2.8rem;
	text-align: center;
	vertical-align: middle;
}

.confirm {
	margin-bottom: 10px;
}

/************** CHAT PART *****************/

#all-chats {
	position: fixed;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	bottom: 0;
	left: 0;
	width: 80%;
	height: 420px;
	padding: 10px;
	padding-bottom: 0;
}

.chat-container {
	position: relative;
	margin-left: 20px;
	min-width: 300px;
	height: 100%;
	background-color: #ddd;
	padding: 60px 20px;
}

.chat-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background-color: #888;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
	padding-right: 15px;
}

.close-chat {
	margin-left: auto;
	font-size: 25px;
}

.close-chat:hover {
	cursor: pointer;
}

.chat-form-container {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
}

.replies {
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.no-messages {
	position: absolute;
}

#users-chat-container {
	position: absolute;
	bottom: 0;
	right: 10px;
	margin-bottom: 0;
	width: 260px;
}

#users-list {
	max-height: 500px;
	overflow-y: auto;
}

#users-list li:hover {
	cursor: pointer;
}

#users-list img {
	height: 2.8rem;
	margin-right: 1rem;
}

#users-list .fa {
	font-size: 2.8rem;
	margin-right: 1rem;
	height: 2.8rem;
	width: 2.8rem;
	text-align: center;
	vertical-align: middle;
}