@import url("https://fonts.googleapis.com/css?family=Raleway");
/* line 7, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
* {
  font-family: "Raleway", sans-serif; }

/* line 15, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #000;
  text-decoration: none; }

/* line 20, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.user a {
  color: #636b6f;
  padding: 10px 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase; }

/* line 30, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#userDropdownBtn {
  padding: 5px 14px;
  display: flex;
  align-items: center; }

/* line 36, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.navbar-brand {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

/* line 43, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.user {
  display: flex;
  align-items: center; }

/* line 48, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.user-img-container .fa {
  font-size: 28px;
  margin-bottom: 0;
  padding-top: 2px; }

/* line 54, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.user-img, .user-img-preview {
  width: 38px;
  height: 38px;
  border-radius: 2px; }

/* line 60, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.user-img-preview {
  overflow: hidden; }

/* line 65, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.username {
  margin: 0;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 1.1rem; }

/* line 72, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.container {
  padding-top: 1.5rem; }

/* line 77, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.main-tables th,
.main-tables td {
  text-align: center;
  width: 16.67%;
  padding-top: 7px !important;
  padding-bottom: 7px !important; }

/* line 84, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.red {
  background-color: #CF000F !important;
  opacity: 1 !important; }

/* line 89, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.rose {
  background-color: #E74C3C;
  opacity: 0.3; }

/* line 94, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.names {
  font-weight: 400;
  font-size: 1rem; }

/* line 99, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.dropzone {
  margin-top: 2.5rem; }

/* line 103, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.names img {
  height: 2.8rem;
  margin-right: 1rem; }

/* line 108, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.names .fa {
  font-size: 2.8rem;
  margin-right: 1rem;
  height: 2.8rem;
  width: 2.8rem;
  text-align: center;
  vertical-align: middle; }

/* line 117, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.names .list-group-item {
  font-size: 18px;
  text-align: left; }

/* line 122, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#profilePictureForm {
  text-align: center;
  margin: 20px 0px; }

/* line 127, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#profilePictureForm label {
  text-align: right;
  padding: 10px; }

/* line 132, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#profilePictureForm label:hover {
  text-align: right;
  cursor: pointer; }

/* line 137, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#profilePictureTemp {
  display: none; }

/* line 141, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#image {
  max-width: 100%;
  max-height: 100%;
  height: 350px; }

/* line 147, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.cropper-container {
  width: 100% !important; }

/* line 151, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.btn-crop-area {
  margin-top: 20px; }

/* line 155, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#btn-crop {
  display: inline-block; }

/* line 159, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.dates {
  font-weight: 100; }

/* line 163, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.crop-alert {
  display: inline-block;
  position: absolute;
  margin-left: 1rem;
  padding: 7px 10px;
  opacity: 0; }

/* line 171, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#datepicker {
  padding: 3px 7px;
  border: 1px solid #aaa;
  border-radius: 3px;
  margin-bottom: 10px;
  display: none; }

/* line 179, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#left-section {
  padding-top: 30px; }

/* line 183, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#btn-send-date {
  padding: 5px 15px;
  margin: 0;
  margin-top: 10px;
  display: none; }

/* line 190, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#all-users-dropdown {
  display: inline-block; }

/* line 194, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#all-users-dropdown-btn {
  display: none; }

/* line 198, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.all-users-list {
  width: 250px;
  max-height: 300px;
  overflow: auto; }

/* line 204, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.all-users-list li:hover {
  cursor: pointer; }

/* line 208, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.all-users-list img {
  height: 2.8rem;
  margin-right: 1rem; }

/* line 213, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.all-users-list .fa {
  font-size: 2.8rem;
  margin-right: 1rem;
  height: 2.8rem;
  width: 2.8rem;
  text-align: center;
  vertical-align: middle; }

/* line 222, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.confirm {
  margin-bottom: 10px; }

/************** CHAT PART *****************/
/* line 228, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#all-chats {
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 420px;
  padding: 10px;
  padding-bottom: 0; }

/* line 241, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.chat-container {
  position: relative;
  margin-left: 20px;
  min-width: 300px;
  height: 100%;
  background-color: #ddd;
  padding: 60px 20px; }

/* line 250, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.chat-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #888;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 15px; }

/* line 267, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.close-chat {
  margin-left: auto;
  font-size: 25px; }

/* line 272, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.close-chat:hover {
  cursor: pointer; }

/* line 276, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.chat-form-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px; }

/* line 283, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.replies {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

/* line 289, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
.no-messages {
  position: absolute; }

/* line 293, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#users-chat-container {
  position: absolute;
  bottom: 0;
  right: 10px;
  margin-bottom: 0;
  width: 260px; }

/* line 301, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#users-list {
  max-height: 500px;
  overflow-y: auto; }

/* line 306, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#users-list li:hover {
  cursor: pointer; }

/* line 310, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#users-list img {
  height: 2.8rem;
  margin-right: 1rem; }

/* line 315, C:/LaravelProjects/scheduler/public/css/myStyles.scss */
#users-list .fa {
  font-size: 2.8rem;
  margin-right: 1rem;
  height: 2.8rem;
  width: 2.8rem;
  text-align: center;
  vertical-align: middle; }

/*# sourceMappingURL=myStyles.css.map */